.generatorContainer {
  margin: auto;
  width: 40%;
}

.errorNotification {
  margin-top: 20px;
  background-color: #ff6383;
  width: 100%;
  border-radius: 10px;
}

.errorMessage {
  font-weight: bold;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  padding: 14px;
  text-align: center;
}
