img {
  border-radius: 50%;
  border-radius: 50%;
  border: 1px solid grey;
  width: 25%;
  margin-top: 20px;
}

.headerSection {
  text-align: center;
  margin: 35px 0;
}

.name {
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
}

.bio {
  font-style: italic;
  margin-top: 10px;
}

.descriptionLabels {
  font-weight: bold;
}

.descriptionsContainer {
  margin: 10px 0px;
}
