img {
  border-radius: 50%;
  border-radius: 50%;
  border: 1px solid grey;
  width: 25%;
  margin-top: 20px;
}

.headerSection {
  text-align: center;
  margin: 35px 0;
}

.name {
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
}

.bio {
  font-style: italic;
  margin-top: 10px;
}

.descriptionLabels {
  font-weight: bold;
}

.descriptionsContainer {
  margin: 10px 0px;
}

.inputButton {
  font-size: 15px;
  line-height: 20px;
  display: inline-block;
  min-width: 200px;
  height: 45px;
  padding: 0 40px;
  line-height: 45px;
  border-radius: 23px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #00ced6;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
  font-weight: bolder;
  border: none;
  margin-bottom: 30px;
}

.inputButton:disabled,
.inputButton:visited,
.inputButton:hover {
  background-color: #00b9c1;
}

.inputButton:focus {
  outline: 0;
}

.buttonContainer {
  text-align: center;
  margin: 20px 0;
}

.hrDivider {
  border-bottom: 2px solid #00ced6;
  width: 304px;
  text-align: center;
  margin: 30px auto auto auto;
}

@media print {
  .nonPrintable {
    display: none;
  }
}

@media (max-width: 700px) {
  .textContainer {
    padding: 0px 30px;
  }
}
